<a href="https://colab.research.google.com/github/PeterYves/sample/blob/main/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 7+6
print(a)

13

In [ ]:
print(type(7))
print(type(9))
print(type(7*9))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
student_name = "Alice"
student_age = 19
print("My name is {1}-san. And i'm {0}years old.".format(student_name, student_age))

My name is 19-san. And i'm Aliceyears old.

In [ ]:
today_temperature = 3.53
tomorrow_temperature = -5.27
print("今日の最低気温は{:+.1f}、明日の最低気温は{:.1f}です。".format(today_temperature, tomorrow_temperature))

今日の最低気温は+3.5、明日の最低気温は-5.3です。

In [ ]:
student_age = 19
print("my ages are", student_age, sep=":")

my ages are:19

In [ ]:
def sample_function(x, y):
  answer = (x+y) * 2
  return answer

print(sample_function(3, 5))
print(sample_function(10, 3))
print(sample_function(-20, -10))

16
26
-60